In [1]:
import pandas as pd
import numpy as np

In [2]:
file="Machine learing data.xlsx"#path for the file

In [4]:
df=pd.read_excel(file,skiprows=4)#loaded the dataset

In [5]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Peak strength,Break strength,MOT (MPa),YM (MPa),Unnamed: 8
0,Ex no,Composition,Speed,Temperature,(MPa),(MPa),NaN,NaN,NaN
1,1,1,3,200,7.68,6.92,0.116256,304.76190,NaN
2,2,1,6,205,8.09,7.28,0.183456,240.77380,NaN
3,3,1,9,210,7.38,6.64,0.348600,76.39752,(Worst)
4,4,1.5,3,205,11.09,9.98,0.335328,264.04760,(2nd best
5,5,1.5,6,210,9.58,8.62,0.199122,325.85030,NaN
6,6,1.5,9,200,7.09,6.38,0.294756,80.38549,NaN
7,7,2,3,210,12.88,11.59,0.146034,613.33330,(best)
8,8,2,6,200,9.68,8.71,0.237783,288.09520,NaN
9,9,2,9,205,8.09,7.28,0.091728,385.23810,NaN
10,10,0,3,200,6.75,5.84,0.244800,241.18000,NaN
11,11,0,6,205,6.41,5.37,0.217300,235.72000,NaN
12,12,0,9,210,6.56,5.88,0.245100,244.61000,NaN

In [6]:
# Cleaning the data by removing unnecessary columns  --->mostly unnamed columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [8]:
#identifying the numeric and non numeric columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
non_numeric_cols = df.select_dtypes(exclude=[np.number]).columns

In [9]:
#function for augmentation on the numeric data
def augment_data(data, numeric_cols, n_augments=10, noise_level=0.01):
    augmented_data = data.copy()
    for _ in range(n_augments):
        noise = np.random.normal(0, noise_level, data[numeric_cols].shape) #generates the noise
        augmented_sample = data.copy()
        augmented_sample[numeric_cols] = data[numeric_cols] + noise #adds the noise
        augmented_data = pd.concat([augmented_data, augmented_sample], ignore_index=True)#further concatenates it augmented sample and original one
    return augmented_data

In [10]:
# Apply data augmentation
expanded_data = augment_data(df, numeric_cols)

In [11]:
# Save the expanded dataset to a new Excel file
expanded_file_path = 'Expanded_Machine_Learning_Data_Augmented.xlsx'
expanded_data.to_excel(expanded_file_path, index=False)